<% form_for @business, :html => { :multipart => true } do |f| %>
	
	  <%= f.error_messages %>
	  <% unless @business.url.nil? %>
	  <p>
	    <h3 style="margin:0;">Business website address:</h3>
	    <%= f.text_field :url, :value => "http://", :class => "large_form" %>
	  </p>
	  <% end %>
	
	<% unless @business.photo.exists? %>
	  <p>
		<h3 style="margin:0;">Upload Business Logo:</h3>
		<%= f.file_field :photo %>
	  </p>
	<% end %>

	  <p><%= f.submit "Submit Business", :class => 'button' %></p>
	<% end %>