<% title "Edit Business" %>

<h2>Enter the address for <%= @business.name%> and get an extra 100 points!</h2>
<h3>Not to mention a feeling of satisfaction and completeness.</h3>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Back", @business, :class => "link" %>
</p>
