<% title "Edit Business" %>

<h2>Enter the address for <%= @business.name%> and get an extra 100 points!</h2>
<h3>Not to mention a feeling of satisfaction and completeness.</h3>

<%= render :partial => 'form' %>

<% if session[:campaign_continue] %>
<p>
  <%= link_to "Don't know the address? <br />Click here to skip to the campaign page.", skip_business_path, :business => session[:campaign_continue], :class => "button", :style => "float:right;text-align:center;" %>
</p>
<% end %>

<div class="clear"></div>
