<% title "Newletter Signup" %>

<div style="float:left;margin-top:25px;">

<form method=post action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup1657" accept-charset="UTF-8" onsubmit="return verifyRequired1657();" >
<input type=hidden name=redirect value="<%= signed_up_url %>" />
<input type=hidden name=errorredirect value="<%= signed_up_url %>" />

<p>
  <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Email:</h3>
  <input type=text name="fields_email" id="user_login">
</p>
<p>
  <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>First Name:</h3>
  <input type=text name="fields_fname" id="user_login">
</p>

<p>
  <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Zip Code:</h3>
  <input type=text name="fields_zip" id="user_login">
</p>

<p>
  <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Birth Year:</h3>
  <input type=text name="fields_birthyear" id="user_login">
</p>

<p>
  <h3 style="margin:0;"><span style="color:#EDA02C;font-size: 24px;">*</span>Gender:</h3>
  <input type=radio id="options:gender:male" name="fields_gender" value="male"> <label for="options:gender:male">Male</label><br>
  <input type=radio id="options:gender:female" name="fields_gender" value="female"> <label for="options:gender:female">Female</label>
</p>

    <input type=hidden name="listid" value="21580">
    <input type=hidden name="specialid:21580" value="QXF9">

    <input type=hidden name=clientid value="877136">
    <input type=hidden name=formid value="1657">
    <input type=hidden name=reallistid value="1">
    <input type=hidden name=doubleopt value="1">

<p><input type="submit" name="Submit" value="Submit" class="button"></p>

</form>
<script type="text/javascript">

var icpForm1657 = document.getElementById('icpsignup1657');

if (document.location.protocol === "https:")

	icpForm1657.action = "https://app.icontact.com/icp/signup.php";
function verifyRequired1657() {
  if (icpForm1657["fields_email"].value == "") {
    icpForm1657["fields_email"].focus();
    alert("The Email field is required.");
    return false;
  }


return true;
}
</script>

</div>

<div style="float:left;width:400px;margin-left:50px;">

<h2>Sign Up for the MobHooks Newsletter and receive...</h2>

<ul>

<li>50-90% off deals from local merchants in your area sent directly to your inbox</li>

<li>Info on the best text-only offers and enter to win contests from national brands and merchants in your area</li>
	
<li>Up to date info about special offers and exclusive offers from MobHooks.</li>

</ul>

<p>*MobHooks will never share your personal information with third parties.</p>

</div>

<div class="clear"></div>
