<h2>Thanks!</h2> 

<p>You are registered. Welcome to MobHooks! Please mark emails from @mobhooks.com as "safe" so that they don't end up in your spam folder. You may unsubscribe at any time from within our emails. MobHooks will never share your information with third parties. <%= link_to "Click here", root_path %> to return to MobHooks home.</p>

<div class="clear"></div>