body#home {
  background: url(../images/splash_bg.gif) repeat-x #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
	margin: 0;
}

body {
  background: url(../images/bg.gif) repeat-x #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
	margin: 0;
}

body#home h1#title {
background:url(../images/splash_title.png) no-repeat;
width: 404px;
height:203px;
text-indent:-9999px;
}

body#home h1#title a { display:block; width: 404px; height:203px;}

a img {
  border: none;
}

a {
  color: #0000FF;
	text-decoration:none;
}

.link {
	color: #fff !important;
	background:#808080;
	padding: 4px 8px;
}
.link:hover {background:#EDA02C;}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

h2 {
 font-size:32px;
 font-weight:bold;
 letter-spacing:-1px;
 margin:50px 0 0;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#flash_notice, #flash_error {
  font-weight:bold;
	margin:35px 0 0;
	padding:10px 8px;
	text-align:center;
}

#flash_notice {
  background-color:#CCFFCC;
	border:1px solid #66CC66;
	color:#669966;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.button {
	color: #fff !important;
	border: none;
	background: #e18b08; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5b047', endColorstr='#e18b08'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f5b047), to(#e18b08)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f5b047,  #e18b08); /* for firefox 3.6+ */
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px 10px;
}


.button:hover { cursor:pointer; }

.button a { color:#fff !important; }

/***************NAV BAR *********************/

h1#home_title{
	float:left;
}

h1#title {
	float:left;
	background:url(../images/title.png) no-repeat;
	height:62px;
	width:149px;
	text-indent:-9999px;
	margin:12px 0 0;
}

#contest { position: relative;}

.contest_gif { position: absolute; left:313px;}

h1#title a {display: block; width:149px; height: 62px; }

ul#nav {
	float: right;
	background: #808080;
	font-size: 13px;
	padding: 13px 5px 3px;
	margin: 0;
	height:25px;
}

ul#nav a { color: #fff; text-decoration:none; }
ul#nav a:hover { color: #EDA02C; }

ul#nav li {
	display: inline;
	padding:0 7px;
}

#splash_search {
	float: right;
	width:395px;
	margin-top:-164px;
}

#splash_search form {  }

#splash_search form input#search {

}

#splash_search form input#near {

}

#splash_search form span#search_field {

}

#splash_search form span#near_field {

}

#splash_search form input#search_submit {  
	float: right;
}

#search form input#search {

}

#search form input#near {

}

#search form span#search_field {
	float:left;
	width:160px;
	margin-right: 5px;
}

#search form span#near_field {
	float: left;
	width:160px;
	margin-right: 5px;
}

#search form input#search_submit {  

}




#splash_search form p {
	font-size: 12px;
	margin: 0;
}

#search form p {
	font-size: 10px;
	margin: 0 0 0 6px;
}

div#search { float: right;margin-top:-28px; height:16px;}

#search form {
	padding:3px 0;
	margin:0 -3px 0 0;
}
#search form input { float: left; margin: 3px; }

#search form input#search, #search form input#near, input#comment_message, input#review_message{
	border:3px solid #C0C0C0;
	color:#000;
	margin-top:3px;
	padding:3px;
}

#splash_search form input#search {
	width:376px;
	font-size: 26px;
	padding: 5px;
	border: 5px solid #c0c0c0;
	color: #000;
}

input#email, #splash_search form input#near, input#user_session_login, input#user_session_password, input#user_login, input#user_email, input#user_password, input#user_password_confirmation, input#campaign_business_name, .large_form, input#points { 
	width:376px;
	font-size: 30px;
	padding: 5px;
	border: 5px solid #c0c0c0;
	color: #000; 
}

#splash_search form input#near {
	width:376px;
	font-size: 26px;
	padding: 5px;
	border: 5px solid #c0c0c0;
	color: #000;
}

#splash_search form .button, input#user_session_submit, input#user_submit, input#campaign_submit, input#business_submit, input#affiliate_submit, input#profile_submit { 
font-size: 24px; }

.affiliates {
	font-weight:bold;
	margin-bottom:25px;
	padding:10px;
	text-align:center;
	width:280px;
	float:left;
}


/****************FOOTER*******************/

div#footer_container {
	background: url(../images/footer_bg.gif) repeat-x;
	width: 100%;
	height:85px;
}

ul#footer {
	width: 1000px;
	text-align:center;
	margin: 0 auto;
	font-size: 14px;
	font-weight:bold;
	color: #000;
	padding-top:40px;
}

ul#footer li {
	display: inline;
	text-align:center;
	margin-right:15px;
}

ul#footer li a { color: #000; }

ul#footer li a:hover { color: #EDA02C; }

/****************SPLASH*******************/

h2#featured {
	background: url(../images/featured_deals.jpg) no-repeat;
	text-indent: -9999px;
	width:362px;
	height:40px;
	margin:50px 0 0 0;
}

ul#sponsored, #widget {
	border: 7px solid #c0c0c0;
	padding:20px 0;
	width:545px;
	float:left;
	margin: 0;
}

ul#sponsored a { color: #000; }
ul#sponsored a:hover { color: #EDA02C; }

ul#sponsored li {
	display: inline;
	float: left;
	width: 135px;
	text-align:center;
}

ul#sponsored li h3 { margin:0; font-size:16px; font-weight:bold; }

ul#sponsored li h4 { margin:0; font-size:12px; font-weight:normal; }

h2#most_popular {
	background: url(../images/most_popular.jpg) no-repeat;
	text-indent: -9999px;
	width:461px;
	height:48px;
	margin: 50px 0 0;
}

h2#browse {
	background:url("../images/browse.jpg") no-repeat scroll 0 0 transparent;
	float:right;
	height:40px;
	margin-top:0;
	margin-right:125px;
	text-indent:-9999px;
	width:175px;
}

h2#campaigns {
	background: url(../images/campaigns.jpg) no-repeat;
	text-indent: -9999px;
	width:261px;
	height:46px;
}

div#tag_cloud {
	float: right;
	border: 7px solid #c0c0c0;
	padding: 10px;
	width:264px;
	margin-bottom:20px;
}

div#tag_cloud a { color: #000; }
div#tag_cloud a:hover { color: #EDA02C; }

.css1 { font-size: 0.8em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.6em; }
.css4 { font-size: 2.0em; }

/***************CAMPAIGN LIST ****************/

ul#campaign_list {
	width:560px;
	padding:0;
	float:left;
	margin: 0;
}

ul#campaign_list a { color: #000; }
ul#campaign_list a:hover { color: #EDA02C; }

ul#campaign_list li { 
	border: 7px solid #C0C0C0;
	list-style-type: none;
	margin-top: 25px;
	padding: 10px;
}

ul#campaign_list li:first-child { margin-top:0 !important; }

ul#campaign_list li h3 {margin:0; font-weight:bold; }
ul#campaign_list li h4 {margin:0; font-weight:normal; }

ul#campaign_list li img {
	float: left;
}

ul#campaign_list li .campaign_titles {
	float:left;
	margin:25px 0 0 5px;
	width:315px;
}

ul#campaign_list li div.campaign_list_right {
	float:right;
	margin: 10px 0 0;
	width: 90px;
}

ul#campaign_list li div.campaign_list_right h2 {
	text-align:center;
	margin: 0 0 -10px 0;
}

ul#campaign_list li div.campaign_list_right p.view_deal {
	background: #EDA02C;
	padding: 10px;
}

ul#campaign_list li p.view_deal a {
	color:#fff;
	text-decoration: none;
}

/****************THE FAMILY ***************************/

h2#leaderboard{
	background: url(../images/leaderboard.jpg) no-repeat;
	text-indent: -9999px;
	width:292px;
	height:40px;
}

h2#the_family {
	background: url(../images/thefamily.jpg) no-repeat;
	text-indent: -9999px;
	width:256px;
	height:47px;
}


ul#leaderboard { padding:0; }

ul#leaderboard li {
	 list-style-type:none;
	 margin-top:10px;
}

ul#leaderboard li img { 
	float:left;
}

ul#leaderboard li .info {
	float:left;
	margin: 20px 0 0 10px;
}

ul#leaderboard li h3 {
	margin:18px 0 0;
}

ul#leaderboard li a { color: #000; }
ul#leaderboard li a:hover { color: #EDA02C; }

/****************PROFILE ************************************/

div#profile {

}

div#profile p {
	float:left;
	font-weight:bold;
	margin:7px 0 0 5px;
	width:200px;
}

div#profile p a { color: #808080; } 
div#profile p a:hover { color: #EDA02C; }

.user_image {
	width: 110px;
	background:#c1c1c1;
	color: #808080;
	float: left;
}

.user_image img {
	padding: 10px 0 10px 10px;
}

.user_image h4 {
	margin: 0;
	text-align:center;
	padding: 0 0 10px 0;
}

.user_leaderboard_image {
	width: 80px;
	background:#c1c1c1;
	color: #808080;
	float: left;
}

.user_leaderboard_image img {
	padding: 10px 0 10px 10px;
}

.user_leaderboard_image h4 {
	margin: 0;
	text-align:center;
	padding: 0 0 10px 0;
}

h2#stats {
	background: url(../images/stats.jpg) no-repeat;
	text-indent: -9999px;
	width:121px;
	height:44px;
}

h2#Soldier {
background: url(../images/levels/stats_soldier.png) no-repeat;
text-indent: -9999px;
width:300px;
height:130px;
margin:0;
}

h2#Associate {
background: url(../images/levels/stats_associate.png) no-repeat;
text-indent: -9999px;
width:300px;
height:130px;
margin:0;
}
h2#Capo {
background: url(../images/levels/stats_capo.png) no-repeat;
text-indent: -9999px;
width:300px;
height:130px;
margin:0;
}
h2#Consigliere {
background: url(../images/levels/stats_consigliere.png) no-repeat;
text-indent: -9999px;
width:300px;
height:130px;
margin:0;
}
h2#Don {
background: url(../images/levels/stats_don.png) no-repeat;
text-indent: -9999px;
width:300px;
height:130px;
margin:0;
}
h2#Underboss {
background: url(../images/levels/stats_underboss.png) no-repeat;
text-indent: -9999px;
width:300px;
height:130px;
margin:0;
}


table#stats {
	border: 7px solid #C0C0C0;
	padding: 7px;
	width: 303px;
}

h2#badges {
	background: url(../images/badges.jpg) no-repeat;
	text-indent: -9999px;
	width:172px;
	height:49px;
	margin: 30px 0 0;
}

ul#badges { 
	margin: 10px 0 0 -15px;
	padding: 0;
	width: 315px;
}

ul#badges li {
	float: left;
    list-style-type: none;
    margin: 0 0 10px 25px;
    text-align: center;
	width: 75px;
}

ul#badges li p {
	font-size: 10px;
	font-weight: bold;
	margin: 0;
}

ul#badges li p a { color: #000; }
ul#badges li p a:hover { color: #EDA02C; }

h2#comments {
	background: url(../images/comments.jpg) no-repeat;
	text-indent: -9999px;
	width:252px;
	height:40px;
	margin: 0 0 10px;
}

h2#reviews {
	background: url(../images/reviews.jpg) no-repeat;
	text-indent: -9999px;
	width:193px;
	height:40px;
	margin: 25px 0 10px;
}

ul#comments {
	border: 7px solid #C0C0C0;
	padding: 7px;
	width: 272px;
	max-height: 300px;
	overflow-y: auto;
	margin: 0 0 10px;
}

ul#comments li {
	list-style-type: none;
	margin-bottom: 20px;
	border-bottom: 1px solid #c1c1c1;
	padding-bottom:5px;
}

ul#comments li a { color: #000; font-size:12px; font-weight: bold; }
ul#comments li a:hover { color: #EDA02C; }

ul#comments li span.date {color:#808080; font-size:12px; font-weight:normal; }

h2#submitted_campaigns {
	background: url(../images/submitted_campaigns.jpg) no-repeat;
	text-indent: -9999px;
	width:512px;
	height:49px;
	float: left;
	margin:0;
}

form#new_user_session { width: 600px;}

/**********************CAMPAIGNS***********************************/
h2#mobile_campaign {
	background: url(../images/mobile_campaign.jpg) no-repeat;
	text-indent: -9999px;
	width:403px;
	height:48px;
}

div#votes {
	float: left;
	margin-left:10px;
}

h2#score_percentage {
	font-size:24px;
	margin:0;
}

h3#votes_count {
	margin:0 0 20px;
	text-align: center;
}

div#voting {
	float: left;
	margin:10px 0 0 20px;
}

div#voting a#vote_up {
	background: url(../images/vote_up.gif) no-repeat;
	width:207px;
	height:36px;
	display:block;
	color: #fff;
	text-indent:-9999px;
	padding: 12px 0 0 0;
}

div#voting a#vote_down {
	background: url(../images/vote_down.gif) no-repeat;
	width:207px;
	height:36px;
	display:block;
	color: #fff;
	text-indent:-9999px;
	padding: 12px 0 0 0;
	margin:-20px 0 0;
}

h2#business_name {  }

.edit_business { float: left;}

h2#business_name a { color: #000; }
h2#business_name a:hover { color: #EDA02C; }

ul#similar {
	padding:0;
	width: 310px;
	margin: 0;
}

ul#similar li {
	list-style-type: none;
	border:4px solid #C1C1C1;
	padding: 10px;
	margin-bottom: 20px;
}

ul#similar li a { color: #000; } 
ul#similar li a:hover { color: #EDA02C; }

ul#similar li img {
	float: left;
}

ul#similar li h4 {
	font-size: 16px;
	font-weight:bold;
	margin: 0;
}

ul#similar li h5 {
	font-size: 12px;
	font-weight:normal;
	margin: 0;
}

h2#offer {
	width:520px;
}

h2.campaign_details_header {
	margin: 0;
	width: 550px;
}

.campaign_description {
	font-weight:normal;
	font-size:25px;
}

ul#about_badges {  }

ul#about_badges li {
	list-style-type: none;
	margin-top: 20px;
}

ul#about_badges li img { float: left; }
ul#about_badges li h3 { float: left; margin:25px 0 0 10px; }
ul#about_badges li h3 a { color: #000; }
ul#about_badges li h3 a:hover { color: #EDA02C; }

ul#campaign_reviews {
	float: left;
	width:600px;
}

ul#campaign_reviews li {
	list-style-type:none;
	margin-bottom: 25px;
	border-bottom: 1px solid #c1c1c1;
}

ul#campaign_reviews li h3 a { color: #000; }
ul#campaign_reviews li h3 a:hover { color: #EDA02C; }

form#new_review { float: left; }

ul#locations {
	padding: 0;
}

ul#locations li {
	list-style-type:none;
	margin: 15px 0;
}

.pagination { float: right; margin: 15px 0; }

#widget {
	border: 7px solid #c0c0c0;
	padding: 10px;
	width:265px;
	float:left;
	margin: 0;
}

#widget h1 { 
	float: left;
	font-size: 18px;
	margin: 0;
	width: 265px;
}

#widget img { 
	float: left;
	margin-top: 25px;
}

a #widget {
	color: #000;
}

a #widget #buynow { color: blue; }

#widget #price {
	background: url(http://steals.mobhooks.com/themes/cleverbetta/images/backgrounds/buy_it_star.png) no-repeat;
	width: 112px;
	height: 113px;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	line-height: 125px;
	padding-left: 12px;
	margin: 25px auto;
}

#widget #savings {
	float: left;
	font-size: 18px;
	margin: 45px 0 0 25px;
	width: 125px;
}