body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/***************NAV BAR *********************/

h1#home_title{
	float:left;
}

h1#title{
	float:left;
}

ul#nav {
	float: left;
	 margin: 28px 0 0 -25px;
}

ul#nav li {
	display: inline;
}

#search {
	float:left;
	margin: 0 0 0 25px;
}

#search p:first-child {
	 margin: 0 0 -10px 25px;
}


/****************TAG CLOUD*******************/
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

/***************CAMPAIGN LIST ****************/

ul#campaign_list {
	width:600px;
}

ul#campaign_list li { 
	border: 5px solid #C0C0C0;
	height: 90px;
	list-style-type: none;
	margin-bottom: 10px;
	padding: 10px;
}

ul#campaign_list li img {
	float: left;
}

ul#campaign_list li .campaign_titles {
	float:left;
	margin-left:5px;
}

ul#campaign_list li div.campaign_list_right {
	float:right;
	margin: 10px 0 0;
}

ul#campaign_list li div.campaign_list_right h2 {
	text-align:center;
	margin: 0 0 -10px 0;
}

ul#campaign_list li div.campaign_list_right p.view_deal {
	background: #EDA02C;
	padding: 10px;
}

ul#campaign_list li p.view_deal a {
	color:#fff;
	text-decoration: none;
}