<div class="user_image">
	<% unless @user.profile.nil? %>
		<% unless @user.profile.photo.exists? %>
			<%= random_profile_image %>
		<% else %>
			<%= image_tag @user.profile.photo.url(:thumb) %>
		<% end %>
	<% else %>
		<%= random_profile_image %>
	<% end %>
	<h4><%= @user.points %></h4>
</div>