<% title "Register" %>

<h2>Register for MobHooks</h2>

<div style="width:600px;float:left;">
<%= render :partial => 'form' %>
</div>

<div style="float:right;"><!-- Iframe tag: -->
<!-- begin ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
<iframe src="http://d3.zedo.com/jsc/d3/ff2.html?n=740;c=964;s=221;d=9;w=300;h=250" frameborder=0 marginheight=0 marginwidth=0 scrolling="no" allowTransparency="true" width=300 height=250></iframe>
<!-- end ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
</div>

<div style="float:right; margin-top:20px;"><!-- Iframe tag: -->
<!-- begin ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
<iframe src="http://d3.zedo.com/jsc/d3/ff2.html?n=740;c=964;s=221;d=9;w=300;h=250" frameborder=0 marginheight=0 marginwidth=0 scrolling="no" allowTransparency="true" width=300 height=250></iframe>
<!-- end ZEDO for channel: Mobhooks RON , publisher: Mobhooks , Ad Dimension: Medium Rectangle - 300 x 250 -->
</div>

<div class="clear"></div>

