<% title "Terms of Service" %>

<h2>MobHooks Terms and Conditions</h2>

<p>WELCOME TO MOBHOOKS.COM!  MOBHOOKS.COM IS OWNED AND OPERATED BY MOBHOOKS INC. (“WE”).  PLEASE CAREFULLY READ THESE TERMS AND CONDITIONS (“TERMS”) AND THE PRIVACY POLICY (INCORPORATED HEREIN BY REFERENCE) BEFORE USING THE SITE.  BY USING OR VISITING THE SITE, YOU SIGNIFY YOUR ASSENT TO BOTH THESE TERMS AND THE TERMS AND CONDITIONS OF THE PRIVACY POLICY. IF YOU DISAGREE WITH THESE TERMS, DO NOT USE THE SITE. </p>

<p>EFFECTIVE DATE: September 10, 2010</p>

<p><strong>A. TERMS OF USE</strong></p>

<p><strong>1. General</strong></p>
<p>MobHooks.com (the “Site”) provides an interactive buying experience on the Internet and through the use of SMS text messaging (the “Services”).   STANDARD TEXT MESSAGING RATES APPLY.  The Services communicate opportunities to purchase products, services or special deals (“Offers”) from third-party merchants or businesses (“Providers”).  The Services also reward customers through the use of a loyalty points system (“Points System”).  At our sole discretion, some products, services or special deals communicated in an Offer may be purchased through accumulating and redeeming points (“Points”).  For information regarding the terms and conditions specific to Offers see the “Terms of Sale” section below. The Services and Site are collectively referred to here as “MobHooks.”We reserve the right to make changes to these terms periodically.  Persons who visit or use the Site (“you” or “user”) should visit this page from time to time to view any changes to these Terms.  If we make changes to the Terms, we will make reasonable efforts to post the changes before they become effective and to specify the date they will become effective.  But, if we don’t specify a date, the changes are effective immediately.  Your continued use of MobHooks means that you accept those changes.</p>

<p><strong>2. Eligibility </strong></p>
<p>You are not obligated to have an account in order to access the Site.  However, some of the Services are only available to users that have a registered MobHooks account (“Registered Users”).  Registered Users are responsible for protecting the confidentiality of their login and account information, password(s), personal identification number (“PIN”) and other related information.  Registered Users agree to promptly notify us of any unauthorized use of their confidential login and account information, password(s), personal identification number and other related information by emailing us at support[at]MobHooks.com.  In addition, Registered Users agree to exit from their account at the end of each session.</p>
	
<p><strong>3. Registration</strong></p>
<p>The Site is not available to minors under the age of 13 or to any visitor or user we have suspended or removed from MobHooks for any reason. Registered Users must be 18 years of age or older.  Registered Users may not have more than one active account.  Additionally, Registered Users are prohibited from selling, trading, or otherwise transferring accounts to another party. If you do not meet these qualifications, you may not use MobHooks.</p>
	
<p><strong>4. Purchasing Using Text Messages & Electronic Communications</strong></p>
<p>You agree to electronic communication and text messaging for all of your transactions and communication with us.  You agree that all purchase confirmations, postings, notices, disclosures, or other communications that we provide to you electronically or through a text message satisfy any legal requirements that such communications be in writing.</p>
	
<p>Except as otherwise provided in these Terms or required by law, we will provide any notices by posting them on the Site or provide them using the Services, and you agree that such posting will constitute effective notice.  You authorize us to send notices (including without limitation notice of subpoenas or other legal process, if any) via electronic mail as well if we decide, in our sole discretion, to do so.</p>

<p><strong>5. Provider Offer Specifications; Pricing & Typographical Errors</strong></p>
<p>We do not warrant that Offer specifications, pricing, or other content provided by MobHooks is complete, accurate, or error-free.  In the unfortunate event that any error relates to the pricing or specifications of any Underlying Product (as defined in the Terms of Sale below), we have the right to refuse or cancel any orders in our sole discretion.  If we have charged your credit card prior to cancellation, we will issue a credit to your account in the amount of the charge.</p>

<p><strong>6. Intellectual Property</strong></p>
<p>The content related to the Site or Services, including without limitation, any text, software, graphics, photos, sounds, music, videos, interactive features and any trademarks, service marks and logos contained therein (collectively “Materials”) are owned by or licensed to us, subject to copyright, trademark and other intellectual property rights under United States and foreign laws and international conventions.</p>   
	
<p>No Materials from MobHooks may be copied, reproduced, republished, uploaded, posted, transmitted, or distributed in any way without written permission of the rights owner. You agree not to circumvent, disable, or otherwise interfere with security related features of MobHooks or features that prevent or restrict use or copying of any Materials or content. </p>
	
<p>Modification of any Materials or use of any Materials is a violation of our copyrights and proprietary rights, or of other entities or persons where so indicated, unless we or the owner has provided said Material for such express purpose. All design rights, databases and compilation and other intellectual property rights associated with MobHooks, in each case whether registered or unregistered, and related goodwill, are proprietary to us.</p>
	
<p><strong>7. User Submissions</strong></p>
<p>MobHooks may now or in the future permit the submission of commentary, feedback or other communications or materials by Registered Users ("User Submissions").  However, we do not accept or consider unsolicited ideas, including ideas for new promotions, products, technologies or processes.  You must not transmit any User Submissions to or through MobHooks that you consider to be confidential or proprietary, and any User Submissions (whether in chat rooms, discussion groups, message boards or otherwise) shall be deemed non-confidential.  We do not control or endorse User Submissions, and, therefore, we specifically disclaim any liability relating to User Submissions, including any objectionable User Submissions.  You are responsible and liable for your User Submissions and User Submissions made from your MobHooks account. You agree, represent and warrant that any User Submission is a) truthful, accurate, and not misleading, b) offered in good faith, and c) that you have the right to transmit such information. </p>

<p>Except as expressly provided in our Privacy Policy you agree that by submitting User Submissions to MobHooks, including any concepts, know-how or ideas, you hereby grant to us a perpetual, worldwide, non-exclusive, royalty-free, sublicenseable and transferable license to use, reproduce, distribute, prepare derivative works of and display the User Submissions in connection with MobHooks and our (and our successor's) business, including without limitation for promoting and redistributing part or all of the User Submission (and derivative works thereof) in any media formats and through any media channels whether now known or hereafter developed, without payment or accounting to you or others.</p> 

<p>You agree that we may (but are not obligated to) display your User Submissions with your purchase(s) and reward points, and your username or your actual name along with your purchase(s), reward points and User Submissions. </p>

<p><strong>8. Privacy Policy</strong></p>
<p>Use of the Site is also governed by our Privacy Policy, available at www.MobHooks.com/privacy.</p>

<p><strong>9. Links to Third Party Sites</strong></p>
<p>MobHooks contains advertisements, offers, services and resources of third-parties (“Third-Party Content”) that we do not control. Third-Party Content may not be wholly accurate. When you use MobHooks, you may notice links to third-party websites. You acknowledge and agree that we are not responsible or liable for the accuracy or availability of Third-Party Content or for any viruses or other damaging elements encountered in linking to Third-Party Content or websites.  In addition, providing links to third-party websites should not be interpreted as our endorsement or approval of the organizations sponsoring such third-party websites or Third-Party Content.  These Terms do not apply to any other websites.  Our Privacy Policy is applicable only when you are using MobHooks. </p>

<p><strong>10. Prohibited Conduct </strong></p>
<p>You agree to be liable for any User Submission made using your user account and for any transactions associated with your user account.  It is our goal to make MobHooks a fun and new experience for all of our users, so in using MobHooks, you agree not to do any of the following:</p>
	
<ul>
<li>Post to MobHooks any User Submission whatsoever that is or could appear to be: untrue, misleading,  harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive to another person's privacy or protected data, hateful, or racially, ethnically or otherwise objectionable;</li>
<li>Conduct or promote any illegal activities; </li>
<li>Upload or distribute anything that may be harmful to minors;</li>
<li>Attempt to reverse engineer or jeopardize the correct functioning of MobHooks, or otherwise attempt to derive the source code of the software (including the tools, methods, processes, and infrastructure) that enables or underlies MobHooks;</li>
<li>Attempt to gain access to secured portions of MobHooks to which you do not possess access rights; </li>
<li>Upload or transmit any form of virus, worm, Trojan horse, or other malicious code; </li>
<li>Use MobHooks to generate unsolicited email advertisements or spam; </li>
<li>Use any automatic or manual process to search or harvest information from the MobHooks, or to interfere in any way with the proper functioning of MobHooks; or </li>
<li>Impersonate another user.</li>
</ul>

<p><strong>11. Customer Service </strong></p>
<p>You may contact MobHooks customer service by sending an email to support[at]MobHooks.com. We suggest that you first contact the Offer provider in the event a dispute arises. Given that we act as an agent in selling products, services or special deals on behalf of Providers, we may simply not have sufficient information to answer all your questions or resolve every issue. You acknowledge that the provision of customer support is at our sole discretion, and that we have no obligation to provide you with comprehensive customer support. All purchasing disputes are solely between you and Provider.  We may however provide you with customer support from time to time, at our sole discretion, provided that you are a Registered User and purchased an Underlying Product (as defined in the Terms of Sale below) using your account.  Obviously, we’d like all of our customers to have an excellent buying experience so please let us know if that’s not the case.  Please note, we will continue to improve support over time.</p>

<p><strong>12. Disclaimer of Warranty, Exclusion of Damages & Limitation of Liability </strong></p>
<p>YOU EXPRESSLY AGREE THAT USE OF MOBHOOKS IS AT YOUR SOLE RISK. NEITHER MOBHOOKS INC, ITS AFFILIATES NOR ANY OF THEIR RESPECTIVE EMPLOYEES, AGENTS, MERCHANTS, THIRD-PARTY CONTENT PROVIDERS OR LICENSORS, OR ANY OF THEIR OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS, WARRANT THAT USE OF THE SITE AND SERVICES WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO (I) THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SITE OR SERVICES, OR (II) THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION, SERVICES OR OFFERS PROVIDED THROUGH THE SITE OR SERVICES.  THE SITE AND SERVICES ARE MADE ACCESSIBLE ON AN “AS IS” AND “AS AVAILABLE” BASIS. MOBHOOKS INC HEREBY DISCLAIMS ANY AND ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THOSE OF TITLE NONINFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE. YOU EXPRESSLY UNDERSTAND AND AGREE THAT MOBHOOKS INC AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF MOBHOOKS INC HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM USE OF THE SITE OR SERVICES, CONTENT OR ANY RELATED SERVICES.</p>

<p><strong>13. Modification, Termination or Cancellation </strong></p>
<p>You agree that we may, at any time and at our sole discretion, with or without cause or any notice to you, terminate these Terms, your access to MobHooks, and/or your account, or suspend or block your access to the MobHooks.  You will still be liable for any breaches of these Terms and/or obligations incurred before the Terms end. The provisions of these Terms concerning Site security, prohibited activities, intellectual property, User Submissions, disclaimer, limitation of liability, indemnity and jurisdictional issues shall survive any termination.  You agree that if your use of MobHooks is terminated pursuant to these Terms, you will not attempt to use MobHooks under any name, real or assumed, and further agree that if you violate this restriction after being terminated, you indemnify and hold us harmless from any and all liability that we may incur therefore.</p>

<p><strong>14. Indemnification </strong></p>
<p>As a condition of use you agree to indemnify and hold MobHooks (and its officers, directors, agents, subsidiaries, joint ventures, and employees) harmless from any claim or demand, including reasonable attorneys’ fees, or arising out of or related to 1) your breach of these Terms or Privacy Policy; or 2) your activities in connection with MobHooks.</p>

<p><strong>15. Arbitration </strong></p>
<p>By using the Site and Services, you agree that: (1) any claim, dispute, or controversy you may have against MobHooks arising out of, relating to, or connected in any way with these Terms, the Site and Services or the purchase or sale of any Underlying Product (as defined in the Terms of Sale below), shall be resolved exclusively by final and binding arbitration administered by the American Arbitration Association (“AAA”) and conducted before a single arbitrator pursuant to the applicable Rules and Procedures established by AAA (“Rules and Procedures”); (2) the arbitration shall be held at a location determined by AAA pursuant to the Rules and Procedures (provided that such location is reasonably convenient for you), or at such other location as may be mutually agreed upon by you and MobHooks Inc.; (3) the arbitrator shall apply California law consistent with the Federal Arbitration Act and applicable statutes of limitations, and shall honor claims of privilege recognized at law; (4) there shall be no authority for any claims to be arbitrated on a class or representative basis; arbitration can decide only your and/or MobHooks Inc.’s individual claims; and the arbitrator may not consolidate or join the claims of other persons or parties who may be similarly situated; (5) in the event that the you are able to demonstrate that the costs of arbitration will be prohibitive as compared to the costs of litigation, MobHooks Inc. will pay as much of your filing and hearing fees in connection with the arbitration as the arbitrator deems necessary to prevent the arbitration from being cost-prohibitive; and (6) with the exception of subpart (4) above, if any part of this arbitration provision is deemed to be invalid, unenforceable or illegal, or otherwise conflicts with the Rules and Procedures established by AAA, then the balance of this arbitration provision shall remain in effect and shall be construed in accordance with its terms as if the invalid, unenforceable, illegal or conflicting provision were not contained herein. If, however, subpart (4) is found to be invalid, unenforceable or illegal, then the entirety of this Arbitration Provision shall be null and void, and neither you nor MobHooks Inc shall be entitled to arbitrate your dispute. For more information on AAA and its Rules and Procedures, you may visit the AAA website and service at http://www.adr.org.</p>

<p><strong>16. Additional Terms </strong></p>
<p>a. Severance. If any part of the Terms is held by a court of competent jurisdiction to be invalid or unenforceable, the invalid or unenforceable part will be given effect to the greatest extent possible and the remainder will remain in full force and effect, provided that the allocation of risks described herein is given effect to the fullest extent possible.</p>
	
<p>b. No Assignment. These Terms (including terms incorporated into them) are personal to you and you may not transfer, assign or delegate them to anyone without our express written permission. Any attempt by you to assign, transfer or delegate these Terms without our express written permission will be null and void. We shall have the right to transfer, assign and/or delegate these Terms to one or more third parties without your permission.</p>
	
<p>c. Jurisdiction; Choice of Law; Export Limitations. The Site and Services are controlled by us from our offices within the United States of America. If you choose to access the Site and Services from locations outside the U.S., you do so at your own risk and you are responsible for compliance with applicable local laws. </p>
	
<p>d. Limitations on Actions. Any action concerning any dispute you may have with respect to the Site and Services must be commenced within one year after the cause of the dispute arises, or the cause of action is barred.</p>

<p>e. Paragraph Headings. The paragraph headings in these Terms are included to help make theseTerms easier to read and have no binding effect.</p>
	
<p>f. Entire Agreement. These Terms (including terms incorporated into them) comprise the entire agreement (the "Entire Agreement") between you and MobHooks Inc with respect to the use of MobHooks and supersedes all contemporaneous and prior agreements between the parties regarding the subject matter contained herein, and neither party has relied on any representations made by the other that are not expressly set forth in the Entire Agreement.</p>
	
<p>g. No Waiver. The failure of MobHooks Inc. to exercise or enforce any right or provision of these Terms, including any failure to act with respect to a breach, will not constitute a waiver of such right or provision or our right to act with respect to subsequent or similar breaches. We suggest that you print out a copy of these Terms for your records.</p>
	
<p><strong>B. TERMS OF SALE</strong></p>

<p>An Offer provides an opportunity to purchase a product directly from a Provider (a “Promotional Item”) or a product, service or special deal redeemable through a Provider (a “Promotional Voucher”) (collectively, “Underlying Products”).  All purchased Promotional Items will be shipped by the Provider and all purchased Promotional Vouchers may be exchanged for goods or services from the Provider. </p>
	
<p><strong>1. General </strong></p>
<p>MobHooks markets Offers on behalf of Providers. MobHooks Inc. is not responsible for any and all injuries, illnesses, damages, claims, liabilities and costs suffered by a customer, caused in whole or in part by the Underlying Product or for any unclaimed property liability arising from unredeemed or partially redeemed Promotional Voucher. </p>

<p>By responding to a given Offer, you agree to purchase the Underlying Product based on the terms and conditions associated with the Offer and the terms and conditions stated herein. If the terms of an Offer are inconsistent with these Terms, the Offer’s specific terms supersede any inconsistent terms in these Terms, except to the extent such terms are prohibited by applicable law.</p>

<p>In order to respond to an Offer or to purchase any Underlying Product, you must be a Registered User. The Provider, not MobHooks Inc., is the seller of the Underlying Products and is solely responsible for fulfilling any Underlying Product purchased according to the terms of the Offer.  </p>

<p><strong>2. How It Works</strong></p>
<p>All Registered Users receive Offers in the form of a text message.  If a Registered User wishes to purchase an Underlying Product according to the terms of the Offer, the Registered User must reply to the text message Offer using the Registered User’s PIN.  If the Offer is still valid and available the Registered User will then receive a reply text detailing the purchase confirmation and all other applicable details.  If the Offer is no longer available or sold out, the Registered User will receive a reply text containing the applicable details.  </p>

<p><strong>3. Terms and Conditions: Promotional Items, Returns & Refunds</strong></p>
<p>All Promotional Item purchase amounts may be only applied to merchandise sold by Provider, and may not be applied to shipping or handling charges unless otherwise stated in the Offer or by the Provider.</p>
	
<p>The issuing of Provider credit is at the sole discretion of the Provider unless otherwise required by law. </p>
	
<p>Offer purchases cannot be combined with any other Offers, third party certificates or promotions unless otherwise specified by Provider.</p>
	
<p>Reproduction, sale or trade of Promotional Items is prohibited unless done so in compliance with applicable law. </p>
	
<p>Void to the extent where prohibited by law. </p>
	
<p>All the terms included in an Offer are subject to change. We reserve the right to modify, suspend, or discontinue an Offer, at any time, with or without notice. You agree that we will not be liable to you or to any third party for any modification, suspension, or discontinuance of any Offer. In the event an Offer includes an incorrect price or information due to typographical error, error in pricing or due to incorrect information received from the Providers, we shall have the right to decline or cancel any orders made pursuant to the incorrect terms, whether or not the order has been confirmed and/or your credit card charged. If your credit card has already been charged for the order and we cancel your order, we shall issue a credit to your credit card account in the amount of the charge.</p>
	
<p>For each Underlying Product you purchase using MobHooks you agree to pay the price applicable and contained in the Offer as well as the delivery fees for the Underlying Product (“Delivery Fees”), and any applicable Taxes (as defined below). We will automatically bill your credit card as part of the order process and you hereby authorize us to do so. You will be solely responsible for payment of all taxes (other than taxes based on our income), fees, duties, and other governmental charges, and any related penalties and interest, arising from the Underlying Product purchase (“Taxes”) not withheld by us. All payments are non-refundable. </p>
	
<p>Your receipt of an order confirmation from us does not signify our acceptance of your order, nor does it constitute confirmation of our offer to sell. We reserve the right at any time after receipt of your order to accept or decline or cancel your order (in whole or in part) for any reason. We may require additional verification or information before accepting any order. Your order is not accepted until you physically receive your Underlying Product. Notwithstanding the foregoing, you agree that, if we cancel all or a part of your order, your sole and exclusive remedy is either that (a) we will issue a credit to your credit card account in the amount charged for the cancelled portion (if your credit card has already been charged for the order) or (b) we will not charge your credit card for the cancelled portion of the order.</p>
	
<p>Any delivery dates that we provide are estimates. We reserve the right to make deliveries in installments if necessary. We will send you an email when your order has a confirmed tracking number given by the Provider. Currently, we only ship in the United States.  </p>
	
<p>All Underlying Product or Voucher purchases and transactions conducted through MobHooks are final unless otherwise explicitly stated in the Offer. Of course if something happens, please let us know by emailing us: support[at]MobHooks.com or dialing customer service at 1(800) 775-0924. We will attempt to provide you the correct information for contacting the Offer Provider.  Your correspondence or business dealings regarding Offers and Underlying Products including delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and the Provider of the Underlying Product. You waive any claim against MobHooks Inc. and agree to hold MobHooks Inc. harmless from any loss or damage of any kind incurred as the result of any such dealings or as the result of the presence of such Providers on MobHooks.</p>
	
<p>We do not exchange any Underlying Products for other Underlying Products.</p>

<p><strong>4. Terms and Conditions: Promotional Vouchers</strong></p>
<p>Offer details may be found by “clicking” a link provided at the bottom of each text message Offer which leads to and displays a WAP Mobile Page with additional specifications. STANDARD DATA RATES MAY APPLY. </p>
	
<p>Promotional Vouchers cannot be used for taxes, tips or prior balances with Provider, unless permitted by the Provider. </p>
	
<p>Use of a Promotional Voucher for alcoholic beverages is at the sole discretion of the Provider and is subject to compliance with applicable law.</p>
	
<p>Promotional Vouchers cannot be combined with any other Promotional Voucher, third party certificates, coupons, or promotions, unless otherwise permitted or specified by Provider. </p>
	
<p>The issuing of Provider credit is at the sole discretion of the Provider unless otherwise required by applicable law. </p>
	
<p>Neither MobHooks Inc. nor the Provider is responsible for lost or stolen Promotional Vouchers or Promotional Voucher reference numbers. </p>
	
<p>Reproduction, sale or trade of a Promotional Voucher is prohibited. </p>
	
<p>Any attempted redemption of a Promotional Voucher that is not consistent with these Terms will render the Promotional Voucher void. </p>
	
<p>For Restaurants: Valid only for dine in use unless otherwise stated by the in the Offer. </p>
	
<p>Void to the extent where prohibited by law. </p>
	
<p>If you redeem the Promotional Voucher for less than its face value, you will not be entitled to a credit or cash from the Provider unless required by applicable law. If so required by law, you will only be entitled to a credit or cash equal to the difference between the amount you paid for the Promotional Voucher (excluding any applicable Taxes and Delivery Fees) and the amount you redeemed. </p>
	
<p>Different jurisdiction may have statutes that dictate how a Promotional Voucher may be redeemed for alcoholic beverages. For example, for customers purchasing Promotional Vouchers for restaurants in Ohio, the redemption of the Promotional Voucher may be subject to the limitations imposed by the Ohio Revised Code Title [43] XLIII, Section 4301.01, which imposes a limitation of redeeming Promotional Vouchers at restaurants that serve both food and alcoholic and intoxicating liquor beverages, such that the redemption of such Promotional Voucher can only be applied to alcoholic and intoxicating liquor beverages for up to 30% of the value of the Promotional Voucher. Compliance with state statutes or codes (for example, the Ohio Revised Code) is the responsibility of the Provider. Our sole role in the transaction is as a marketing agent for the Provider. Thus, the applicability and compliance with any relevant statute or code is solely determined and consummated by the Provider, and we have no role and disclaim any role in such determination or action on the part of the Provider.</p>

<p><strong>5. Additional Terms and Conditions.</strong></p>
<p>All Offers shall be subject to the terms and conditions of the Offer, these Terms and any terms provided by the participating Provider. The Providers are the sellers of the Underlying Products.  The holder and issuer of an Underlying Product is the Provider. As a holder and issuer of the Underlying Product, the Provider shall be fully responsible for any and all injuries, illnesses, damages, claims, liabilities and costs suffered by or in respect of a customer, caused in whole or in part by the Provider or the Underlying Product, as well as for any unclaimed property liability arising from unredeemed Promotional Vouchers or portions thereof. You agree to waive, and release MobHooks Inc. and its officers, directors, employees and agents from, any claim, liabilities, damages, or injury arising from or related to any act or omission of a Provider in connection with an Offer or the Underlying Product and/or as it relates to compliance with applicable unclaimed property and other laws relating to the redemption of the Underlying Product or any portion thereof.  </p>

<p>Promotional Vouchers are redeemable in their entirety and on a one-time basis only and may not be redeemed incrementally unless otherwise specified by the Provider. According to applicable law, the Provider may be responsible for allowing you to redeem your Promotional Voucher for the purchase price based on the money you actually paid for the Promotional Voucher (i.e. if you paid $30 for a Promotional Voucher that gives you $65 of value to the Provider, the purchase price is $30, not $65), for a period of time that extends beyond the expiration date provided in Offer or with the Promotional Voucher (the “Expiration Date”). While the Expiration Date dictates the last date that you can redeem your Promotional Voucher at the Provider’s desired location, applicable law may provide that the Provider is responsible for honoring the purchase price of your Promotional Voucher for a period of time beyond the Expiration Date. In other words, you should be allowed to redeem the purchase price of your Offer up until the greater of: (1) the Offer’s expiration date; or (2) the minimum length of time allowed by applicable law for such Promotional Voucher to expire. In the event that you have an expired Promotional Voucher and would like to redeem it for the purchase price, please contact the Provider. Once again, the Provider should allow such redemption if applicable law requires it, and we have instructed the Provider to do so.  If you have gone to the Provider and the Provider has refused to redeem the purchase price of your expired Promotional Voucher, and if applicable law entitles you to such redemption, then please contact us by email at support[at]MobHooks.com provide a written explanation of your situation. If we determine that applicable law does in fact entitle you to redemption of the purchase price, we will refund the purchase price in either U.S. Dollars or reward points for purchases of future Underlying Products using MobHooks.</p>

<p><strong>C. TERMS OF POINTS SYSTEM</strong></p>

<p>By participating in the Points System, you fully accept the terms of this section of the Terms. Points may be earned by participating in MobHooks activities such as purchasing an item through MobHooks or referring an account sign up.  These activities are further described in the FAQ section of the Site and can also be found in the account holder administration section of the Site. Points are not available to minors under the age of 18 or to any Registered Users we suspend or remove from the system for any reason. Additionally, Registered Users are prohibited from selling, trading, or otherwise transferring Points to another party. </p>
	
<p>The Point System and Point values are subject to change without notice.  By participating in the Point System program, you agree that no claim may be brought against us and we cannot be held responsible for accidental loss of Points, non-ability to assign Points or non-ability to redeem Points for any reason whatsoever.  </p>

<p>Thank you for taking the time to read the Terms.  MobHooks looks forward to providing these exciting new services to you!</p>

<h2>Official Rules - MobHooks “The Contest”</h2>

<p>PROMOTION PERIOD: MobHooks, “The Contest” begins at 12:01 AM
Time (“ET”) 4/02/2011 and ends at 11:59 PM ET 6/24/2011.</p>

<p>Eligibility: The Contest is open to MobHooks members who are natural
persons and legal residents of the United States. You must be at least
13 years of age to enter unless a different age eligibility requirement
is specified on the Sweepstakes Information Page. You must have a valid
street address in the United States. (a P.O. Box address will not
suffice). Employees or agents of MobHooks, LLC and the immediate family
members of and persons domiciled with such persons are not eligible to
participate. The Promotion is subject to all applicable federal, state
and local laws. Void in Puerto Rico and other U.S. territories and
possessions and where prohibited by law. No purchase is necessary.</p>

<p>TO ENTER: The Contest will begin at 12:01 AM Pacific Time PT on April,
2, 2011 and end at 11:59 PM ET on June, 24, 2011 (the “Entry
Period”). If you are already a member of Mobhooks, you do not need to
enter again. For new members the way to Enter is to join “The Family”
by signing-up at MobHooks.com, and then start earning points in various
ways shown below:</p>

<h2>How to Earn Points</h2>

<ul>
  <li>Sign up to become a family member = <strong>100 pts</strong></li>
  <li>Opt-in to receive our newsletter = <strong>100 pts</strong> (not yet available)</li>
  <!-- ><li>Connect your account via Facebook connect = <strong>100 pts</strong></li> -->
  <li>Share campaigns on MobHooks with Facebook or Twitter = <strong>10 pts per share</strong></li>
  <li>Leave a review for a campaign = <strong>5 pts</strong> (max one review per campaign)</li>
  <li>Give thumbs UP/DOWN feedback   = <strong>1 pt</strong> (max one vote per campaign)</li>
  <li>Each time someone thumbs UP a campaign YOU submitted = <strong>1 pt</strong> (so tell your friends!)</li>
  <li>Refer a local merchant that signs up to MobHooks’ SMS service = <strong>1000 points</strong></li>
  <li>*Submit a campaign to MobHooks = <strong>100 pts**</strong></li>
  <li>*Add address info for a <strong>local</strong> campaign that <strong>you</strong> or <strong>someone else</strong> submitted = <strong>10 pts</strong></li>
  <li>*Add the website URL for <strong>any</strong> campaign that <strong>you</strong> or <strong>someone else</strong> submitted = <strong>5 pts</strong></li>
  <li>*Add the logo for <strong>any</strong> campaign that <strong>you</strong> or <strong>someone else</strong> submitted = <strong>5 pts</strong></li>

</ul>


<p>The person with the most points on June 24th, 2011 becomes the “Don”
of MobHooks and wins The First Place Prize of $1,000. Please note a
legitimate text campaign will be deemed to be an active text campaign
by any vendor in the United States. MobHooks employees will verify
each campaign to make sure that it is active, accurate and not already
placed on the site. To qualify for the grand prize and second prize,
you must have a minimum of 25,000 points by 6/24/11. The highest
ranked Capo will win Third prize of $250 (A capo is anyone with a
minimum of 5000 points). The next 2 highest Capos will win 4th and 5th
as above.</p>

<p>PRIZES: First Place Prize: $1,000 in the form of a check from MobHooks.
Second Place Prize: $500 in the form of a check from MobHooks. Third
Place Prize: $250 in the form of a check from MobHooks. Fourth Place
Prize: $150 in the form of a check from MobHooks, LLC. Fifth Place
Prize: $100 in the form of a check from MobHooks, LLC. All members
that earn a minimum of 1000 points will be automatically entered to win
a new iPad2 in the MobHooks Sweepstakes portion of the contest. Each
1000 points will earn you one virtual entry ticket.
Drawing to be held on July 1st, 2011. No Purchase necessary.</p>

<p>Non-active accounts on the last day of the “the contest” will
not be considered to be eligible. New members must register at
www.MobHooks.com. Entries generated by script, macro or other
automated or mechanical means and entries by any means which subvert
the entry process are void. All entries automatically become members of
MobHooks, and the information that is provided becomes the property of
MobHooks, LLC. As in normal procedure, one may drop out of the game by
deleting your profile from MobHooks.com.</p>

<p>WINNER NOTIFICATION: Winners will be notified by phone, and/or e-
mail on or about July 1st, 2011, and will be asked to verify his/
her eligibility. Winners might be required to execute and return an
affidavit of eligibility, a liability release and, where lawful, a
publicity release within five (5) days of date of issuance. If such
documents are not returned within the specified time period, prize
notification is returned as undeliverable, MobHooks, LLC is unable to
contact the potential winner or potential winner is not in compliance
with these Official Rules, prize will be forfeited and, at MobHooks
LLC’s discretion, an alternate winner selected.</p>

<p>First Prize Winner must complete all documentation required by Contest
Organizer and Prize MobHooks, LLC. First Prize Winner is solely
responsible for complying with any applicable federal, state and/or
local taxes. The Internal Revenue Service requires a Form 1099 MISC to
be issued and filed for any prize winner if the annual aggregate value
of the prizes received is $600 or more.
Contest Organizer will issue
a Form 1099 MISC to the First Prize Winner.</p>

<p>By participating in the MobHooks “The Contest”, entrants agree to
release, indemnify, defend, and hold harmless MobHooks, LLC, all
Prize providers, from and against any injuries, losses, damages,
claims, actions, or liability of any kind resulting from or arising
from or in connection with participation in the “the contest” or
acceptance, delivery, possession, use, misuse or non use of any prize
that may be awarded. Released Parties are not responsible for
printing or typographical errors in any Contest related materials;
for transactions or entries that are lost, stolen, late, misdirected,
damaged, incomplete, inaccurate, garbled, fail to enter into the
processing system, or are processed, reported, or transmitted late or
incorrectly or are lost for any reason including computer, telephone,
paper transfer, human or other error; or for electronic, computer, or
telephonic malfunction or error, including inability to access any
web site associated with this promotion, or process any transaction
thereon.</p>

<p>GENERAL CONDITIONS: Released Parties (as defined below) are not
responsible for lost, late, incomplete, inaccurate, stolen, misdirected, undelivered, garbled or illegible entries, text messages,
registrations or email; or for lost, interrupted or unavailable
network, server, Internet Service Provider (ISP), website, wireless, or
other connections, availability or accessibility or miscommunications
or failed computer, satellite, cellular tower, telephone or cable
transmissions, lines, or technical failure or jumbled, scrambled,
delayed, or misdirected transmissions or computer hardware or software
malfunctions, failures or difficulties, or other errors or
difficulties of any kind whether human, mechanical, electronic,
computer, network, typographical, printing or otherwise relating to or
in connection with the “the contest”, including, without limitation,
errors or difficulties which may occur in connection with the
administration of the “the contest”, the processing of entries or text
messages, the announcement of the prize or in any “the contest”-related
materials. Released Parties are also not responsible for any incorrect
or inaccurate information, whether caused by site users, tampering,
hacking, or by any equipment or programming associated with or utilized
in the “the contest”. Released Parties are not responsible for injury
or damage to participants' or to any other person's computer related to
or resulting from participating in this “the contest”. Persons who
tamper with or abuse any aspect of “the contest” or who are in
violation of these Official Rules, as solely determined by MobHooks,
LLC, will be disqualified and all associated entries will be void.
Should any portion of the “the contest” be, in MobHooks, LLC’s sole
opinion, compromised by virus, worms, bugs, non-authorized human
intervention or other causes which, in the sole opinion of the
MobHooks, LLC, corrupt or impair the administration, security,
fairness or proper play, or submission of entries or text messages,
MobHooks, LLC reserves the right at its sole discretion to suspend,
modify or terminate the “the contest” and, if terminated, at its
discretion, select the potential winner from all eligible, non-suspect
entries received prior to action taken or as otherwise deemed fair and
appropriate by MobHooks, LLC. Entrants, by participating, agree that
MobHooks, LLC will have no liability whatsoever for, and shall be held
harmless by entrants against, any liability, for any injuries, losses
or damages of any kind, including death, to persons, or property
resulting in whole or in part, directly or indirectly, from
acceptance, possession, misuse or use of the prize or participation in
this “the contest”. Winner, by acceptance of prize, except where
legally prohibited, grants permission for MobHooks, LLC and its
designees to use his/her name, address (city and state), photograph,
voice and/or other likeness and prize information for advertising,
trade and promotional purposes without further compensation, in all
media now known or hereafter discovered, worldwide in perpetuity,
without notice or review or approval. In the event of a dispute
regarding entries received from multiple users having the same e-mail
account, the authorized subscriber of the e-mail account at the time of
entry will be deemed to be the entrant and must comply with these
Official Rules. Authorized account subscriber is the natural person (1)
who is assigned the e-mail address by the Internet Service Provider
(ISP), on-line service provider, or other organization responsible for
assigning e-mail addresses or (ii) who is assigned to a wireless
telephone number by a wireless service provider. CAUTION: ANY ATTEMPT
TO DELIBERATELY DAMAGE OR UNDERMINE THE LEGITIMATE OPERATION OF “the
contest” IS A VIOLATION OF CRIMINAL AND CIVIL LAWS AND SHOULD SUCH AN
ATTEMPT BE MADE, MOBHOOKS, LLC WILL DISQUALIFY ANY SUCH INDIVIDUAL AND
RESERVES THE RIGHT TO SEEK DAMAGES (INCLUDING ATTORNEYS’ FEES) AND
OTHER REMEDIES FROM ANY SUCH INDIVIDUAL TO THE FULLEST EXTENT
PERMITTED BY LAW.</p>

<p>GOVERNING LAW: The “the contest” and these Official Rules will be
governed by the laws of the State of California and those courts
located in Los Angeles, California shall have exclusive jurisdiction
in the event that any dispute arises regarding the “the contest” or
the prize, without giving effect to any choice of law or conflict
of law rules. Any and all disputes shall be brought individually
without resort to any form of class action. Under no circumstances
will any entrant be permitted to obtain any award for, and entrants
hereby waive all rights to claim, punitive, incidental or consequential
damages and any other damages, other than for actual out-of-pocket
expenses and any and all rights to have damages multiplied or
otherwise increased. In no event shall entrant be entitled to receive
attorneys’ fees or other legal costs or expenses.</p>

<p>WINNER’S LIST: A list of prize winner will be available after 7/1/
2011. Send a self-addressed, stamped, envelope by 7/15/2011 to:</p>

<p>Mobhooks “the contest” Request c/o D. Markel, 11132 Ventura Blvd.,
Suite 415 Studio City, CA 91604</p>
