<h2>Sponsored Deals</h2>
	
<h2>Most Popular Deals</h2>

<%= render :partial=>'campaigns/list', :locals => { :campaign => @popular } %> 

<h2>Tag Cloud</h2>

<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
   <%= link_to tag.name, { :controller => 'campaigns', :action => 'index', :search => tag.name }, :class => css_class %>
 <% end %>

