<% title "FAQ" %>

<h2 style="margin-top:50px;">Mobhooks FAQ</h2>

<h3>What is Mobhooks?</h3>
<h4 style="margin-left:15px;font-weight:normal">Mobhooks is a text message (sms) deal sharing site where you can locate or share great mobile deals.</h4>

<h3>How does it work?</h3>
<h4 style="margin-left:15px;font-weight:normal">It’s simple!  Go to the site and use our search bar and enter a key word and your zip code.  You will find out all the great mobile deals in your area or nation wide.</h4>

<h3>Can I share a deal that I find?</h3>
<h4 style="margin-left:15px;font-weight:normal">Absolutely!  All you need to do is click on our <%= link_to "submit campaign", new_campaign_path %> button and give us a few quick details about the deal.  It’s simple.</h4>

<h3>Can I create my own text deal?</h3>
<h4 style="margin-left:15px;font-weight:normal">Yes!  Click on our <%= link_to "create your own campaign", new_affiliate_path %> button and we will walk you through the steps to get your campaign started.</h4>

<h3>Do I have to create a profile?</h3>
<h4 style="margin-left:15px;font-weight:normal">No, However you can earn great rewards for doing something that only takes a few seconds!</h4>
