<% title "Online Printable Coupons for groceries and restaurants with discount!" %>

<div style="margin: 50px auto;">

<script language="javascript" type="text/javascript">
var ci_cap_scriptId = "4105";
var ci_cap_bid = "1170740001";
var ci_cap_format = "718x940";
var ci_cap_bannerType = "3";
</script>
<script language="javascript" type="text/javascript" src="http://bc.coupons.com/"></script>

</div>