<% title "About Mobhooks" %>

<h2>About Mobhooks</h2>

<p>MobHooks, short for “Mobile Hook-Ups”, is a text message (SMS/MMS) campaign sharing community, better known as THE FAMILY.  MobHooks is not affiliated with the mafia, but you get the point. We are just having fun with the name.</p>

<p>MobHooks is a place where non registered visitors can simply get hooked up with great deals and contests by searching through the site and where registered members can help others by sharing SMS/MMS offers, clubs, and contests that they find in the media and at their favorite businesses locally. The objective is for MobHooks to become the one stop directory for finding SMS  short codes and keywords to your favorite brands and local merchants so that you can gain access to special discounts and contests offered to their text club members.  Browse around the site to search for campaigns and contests or become a member of THE FAMILY by signing up here for free.  Members of THE FAMILY have the opportunity to earn points, badges and free stuff while completing tasks and rising in the ranks of our virtual mafia family. Wanna be the next Boss? Scroll down for info on THE FAMILY.</p>

<h2>The Family</h2>
<p>You don’t have to whack anyone to be a part of dis family. All you needs to do is sign up and start submitting and sharing text (SMS/MMS) offers, clubs and contests that you sees or hears on the tv, radio, newspaper, magazines, Internet, restaurant & bar menus, etc. The little rat bastards are everywhere dese days and they can save you money and keep you in the know about announcements from your favorite brands and local businesses. They’re like your own personal informants…</p>
	
<p>As a member of THE FAMILY, you will earn points, badges and free stuff for submitting campaigns to the site, sharing campaigns you find on the site with friends, and other tasks. Earning points will allow you to climb the ladder in hierarchy of THE FAMILY. The member with the most points will be the Boss or Don of MobHooks. There will also be other levels that can be achieved as outlined below. All visitors will be able to view the leaderboard to see where members rank and what tasks they have accomplished. Each registered member will have their own profile page to show off their points, badges, awards, and rank.</p>

<h2>Ranks</h2>
<ol>
<li>Boss or Don – most points overall (only one at this level)</li>
<li>Underboss – second most points overall (only one at this level)</li>
<li>Consigliere – person that refers the most businesses to MobHooks that close (only one)</li>
<li>Capo – 5000 points (unlimited number at this level)</li>
<li>Soldier – 1000 points (unlimited number at this level)</li>
<li>Associate – every registered member is automatically an Associate</li>
</ol>
 
<h2>How to Earn Points</h2>

<ul>
  <li>Sign up to become a family member = <strong>100 pts</strong></li>
  <li>Optin to receive our newsletter = <strong>100 pts</strong></li>
  <li>Connect your account via Facebook connect = <strong>100 pts</strong></li>
  <li>Share campaigns on Mobhooks with Facebook or Twitter = <strong>10 pts per share</strong></li>
  <li>Leave a comment about a campaign = <strong>5 pts</strong> (max one comment per campaign)</li>
  <li>Thumbs UP/DOWN feedback = <strong>1 pt</strong> (max one feedback per campaign)</li>
  <li>*Submit a campaign to Mobhooks site = 100 pts**
		<p>*all campaigns submitted will be verified by a live person within 24 hours of submission. Submitting a false campaign will result in double points deduction from your account on the first offense. Second offense will result in triple points deduction. Third offense will get you whacked, meaning you will be banned for life from MobHooks.</p></li>
		<p>**Receive double points for submitting correct business address = 100 pts</p>
   <li>Refer a local merchant that signs up to MobHooks’ SMS service = <strong>1000 points</strong></li>

</ul>
