<% title "#{@achievement.kind} Badge" %>

<h2><%= @achievement.kind %> Badge</h2>
<% if session[:campaign_continue] %>
<%= link_to "Continue on to the Campaign you just posted", campaign_path(session[:campaign_continue]), :class => "button", :style => "float:right;" %>
<% end %>

<% if @achievements.size > 1 %>
	<%= link_to "You have #{@achievements.size - 1} more new badges. Click Here to view the next one.", achievement_path(@next), :class => 'link' %>
<% end %>

<div style="float: right;">

<script type="text/javascript"><!--
google_ad_client = "ca-pub-2919877323911591";
/* Mobhooks */
google_ad_slot = "6421093481";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<%= image_tag @klass.image, :style => "margin:0 auto;" %>