<% title "Press" %>

<h2>MobHooks Press</h2>

<p><%= link_to "Press Release", "http://www.prweb.com/releases/2011/04/prweb5232444.htm" %></p>

<p><%= link_to "Mobile Commerce Daily", "http://www.mobilecommercedaily.com/2011/05/23/recently-launched-sms-deal-aggregator-mobhooks-is-attracting-consumers-and-businesses" %></p>